.child-nav {
    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    &__card {
        aspect-ratio: 16 / 9;
        display: grid;
        align-items: flex-end;
        background-size: cover;
        background-position: center;
        width: 100%;
        flex-basis: 100%;
        @media (min-width:576px) {
            flex-basis: calc(50% - 1rem);
        }
        @media (min-width:992px) {
            flex-basis: calc(33.333% - 1rem);
        }
        &:hover {
            .child-nav__card-title {
                background-color: hsla(var(--hsl-gold-400) / 0.8);
                height: 100%;
            }
        }
    }
    &__card-title {
        font-size: var(--fs-500);
        display: grid;
        place-content: center;
        padding: 1rem;
        transition: background-color var(--transition), height var(--transition);
        background-color: hsla(var(--hsl-gold-400) / 0.3);
        color: white;
        height: 3em;
    }
}