.features {
    --_gap: 2rem;
    padding-block: 3rem;
    &__grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--_gap);
    }
    &__card {
        flex-basis: 100%;
        text-align: center;
        @media (min-width:576px) {
            flex-basis: calc(50% - var(--_gap));
        }
        @media (min-width:768px) {
            flex-basis: calc(33.33% - var(--_gap));
        }
        @media (min-width:992px) {
            flex-basis: calc(20% - var(--_gap));
        }
    }
    img {
        aspect-ratio: 1;
        width: 130px;
        margin-bottom: 0.5rem;
    }
    &__pre-title {
        font-size: var(--fs-300);
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 0.25rem;
    }
    &__title {
        font-family: var(--ff-headings);
        font-style: italic;
        color: var(--col-gold-400);
        font-size: var(--fs-600);
        margin-bottom: 0.5rem;
        line-height: 110%;
    }
    &__content {
        font-size: var(--fs-300);
    }

}