.image_cols {
    &__grid {
        display: grid;
        gap: 1rem;

        &.image_cols__grid--three {
            @media (min-width:992px) {
                grid-template-columns: repeat(3,1fr);
            }
        }
        &.image_cols__grid--four {
            @media (min-width:992px) {
                grid-template-columns: repeat(4,1fr);
            }
        }
    }
    img {
        position: relative;
        display: block;
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        &.image_cols--center {
            object-position: center;
        }
        &.image_cols--top {
            object-position: top;
        }
        &.image_cols--bottom {
            object-position: bottom;
        }
    }
}