.intro {
    padding-bottom: 4rem;
    position: relative;
    isolation: isolate;
    background-color: var(--col-light);
    &__overlay {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--col-peony-200);
        background-image: url(../img/bg-squares.svg);
        background-size: 120px;
        background-repeat: repeat;
        background-position: center;
        background-blend-mode: screen;
        z-index: -1;
    }
    &__inner {
        background-color: white;
        padding-top: 3rem;
        padding-inline: 2rem;
        padding-bottom: 2rem;
    }
    h2 {
        margin-bottom: 2rem;
    }
    &__content {
        gap: 1rem;
        @media (min-width: 768px) {
            columns: 2;
        }
        p:first-of-type {
            font-family: var(--ff-headings);
            font-size: var(--fs-500);
            font-weight: var(--fw-400);
            font-style: italic;
            line-height: 120%;
            color: var(--col-gold-400);
            @supports (initial-letter: 2) {
                &::first-letter {
                    initial-letter: 2;
                    font-weight: 500;
                    padding-right: 0.25rem;
                    color: var(--col-gold-400);
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        }
    }

    &--crown::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 100vw;
        background-color: white;
        left: 50%;
        bottom: -40px;
        transform: translateX(-50%);
        z-index: -1;
        background-image: url(../img/icon-crown.svg);
        background-position: center 8px;
        background-repeat: no-repeat;
        background-size: 40px auto;
    
    }
}