.wide_cta {
    padding-block: 3rem;
    background-color: var(--col-peony-400);
    background: linear-gradient(90deg, var(--col-peony-900), var(--col-peony-400), var(--col-peony-900));
    position: relative;
    isolation: isolate;
    .overlay {
        position: absolute;
        inset: 0;
        background-image: url(../img/bg-leaves.png);
        background-size: 742px;
        background-position: center;
        background-repeat: repeat;
        background-blend-mode: screen;
        z-index: -1;
        opacity: 0.1;
    }
    &__inner {
        color: white;
    }
    &__pre-title {
        font-size: var(--fs-500);
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    &__title {
        font-size: calc(var(--fs-900) * 1.2);
        font-weight: var(--fw-400);
        line-height: 110%;
        font-family: var(--ff-headings);
        // font-style: italic;
        letter-spacing: -0.5px;
    }
    @media (min-width:992px) {
        &__pre-title, &__title {
            text-align: end;
        }
    }
    &__content {
        font-size: var(--fs-500);
        line-height: 1.3;
    }
    &__button {
        display: flex;
        align-items: center;
        width: max-content;
        margin-inline: auto;
        background-color: var(--col-gold-400);
        color: white !important;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        font-weight: var(--fw-400) !important;
        letter-spacing: 1px;
        position: relative;
        line-height: 1;
        transition: background-color var(--transition);
        span {
            font-weight: var(--fw-700);
        }
        @media (min-width:992px) {
            .icon {
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.85 30.84'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23fff; stroke-miterlimit: 10; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer3'%3E%3Cg%3E%3Cline class='cls-1' x1='22.16' y1='26.27' x2='34.7' y2='13.72'/%3E%3Cline class='cls-1' x1='32.04' y1='10.78' x2='19.49' y2='23.32'/%3E%3Cpolygon class='cls-1' points='36.74 15.76 24.19 28.31 14.68 30.19 17.3 21.41 29.84 8.86 36.74 15.76'/%3E%3Cpath class='cls-1' d='m17.19,21.3c1.37-.25,2.29.67,2.04,2.04,1.62,0,2.93,1.31,2.93,2.93,1.37-.25,2.29.67,2.04,2.04'/%3E%3Cpath class='cls-1' d='m17.85,29.18c0-1.18-.95-2.13-2.12-2.13'/%3E%3Cpolyline class='cls-1' points='29.58 9.12 32.24 6.46 39.14 13.36 36.74 15.76'/%3E%3C/g%3E%3Cg%3E%3Cpath class='cls-1' d='m6.43,12.9c0-3.58,2.9-6.48,6.48-6.48V.5C6.05.5.5,6.05.5,12.9s5.55,12.41,12.4,12.41v-5.93c-3.58,0-6.48-2.9-6.48-6.48Z'/%3E%3Cpath class='cls-1' d='m6.43,12.9c0,3.58,2.9,6.48,6.48,6.48V6.43c-3.58,0-6.48,2.9-6.48,6.48Z'/%3E%3Cline class='cls-1' x1='6.43' y1='12.9' x2='4.19' y2='12.9'/%3E%3Cline class='cls-1' x1='6.98' y1='10.28' x2='4.94' y2='9.38'/%3E%3Cline class='cls-1' x1='8.55' y1='8.11' x2='7.52' y2='6.93'/%3E%3Cline class='cls-1' x1='10.87' y1='6.76' x2='10.17' y2='4.63'/%3E%3Cline class='cls-1' x1='6.98' y1='15.53' x2='4.94' y2='16.43'/%3E%3Cline class='cls-1' x1='8.55' y1='17.7' x2='7.59' y2='18.82'/%3E%3Cline class='cls-1' x1='10.87' y1='19.05' x2='10.17' y2='21.17'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                aspect-ratio: 4 / 3;
                display: inline-block;
                width: 34px;
                margin-right: 0.5rem;
            }
        }
        &:hover {
            background-color: var(--col-gold-600);
        }
    }
}