.button {
    display: block;
    text-align: center;
    width: min(300px,90vw);
    margin-inline: auto;
    background-color: var(--col-green-200);
    color: white !important;
    padding: 0.5rem 1rem;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: var(--fw-400) !important;
    letter-spacing: 1px;
    position: relative;
    line-height: 1;
    transition: background-color var(--transition);
    span {
        font-weight: var(--fw-700);
    }
    &:hover {
        background-color: var(--col-green-400);
    }
}

.button--sm {
    width: max-content;
}