.has-primary-200-color {
    color: var(--col-primary-200) !important;
}
.has-primary-400-color {
    color: var(--col-primary-400) !important;
}
.has-primary-900-color {
    color: var(--col-primary-900) !important;
}
.has-secondary-400-color {
    color: var(--col-secondary-400) !important;
}

.text-green-400 {
    color: var(--col-green-400) !important;
}

.bg-grey-900 {
    background-color: var(--col-grey-900);
    color: var(--col-light);
}
.bg-grey-700 {
    background-color: var(--col-grey-700);
    color: var(--col-light);
}
.bg-grey-500 {
    background-color: var(--col-grey-500);
    color: var(--col-light);
}