$col-primary: #85782c;
$col-primary-400: #045bb9;
$col-primary-900: #022f69;
$col-primary-200: #047bdc;
$col-secondary: #ff9305;
$col-dark: #022F6A;
$col-darkest: hsl(0, 0%, 2%);
$col-highlight: hsl(23, 83%, 53%);
// $col-highlight: #eb7024;
$col-grey: #FFF0F0;

:root {

    --hsl-gold-400: 48 51% 48%; // #b9a03c;
    --hsl-gold-600: 51 50% 35%; // #86782d;
    --col-gold-400: hsl(var(--hsl-gold-400));
    --col-gold-600: hsl(var(--hsl-gold-600));

    --hsl-green-400: 140 5% 57%; // #8c9790;
    --col-green-400: hsl(var(--hsl-green-400));
    
    --hsl-brown-400: 45 19% 24%; // #494332;
    --col-brown-400: hsl(var(--hsl-brown-400));
    
    --hsl-peony-200: 353 13% 86%;
    --col-peony-200: hsl(var(--hsl-peony-200));
    --hsl-peony-400: 353 11% 54%; // #977E81;
    --col-peony-400: hsl(var(--hsl-peony-400));
    --hsl-peony-900: 353 11% 24%; // #977E81;
    --col-peony-900: hsl(var(--hsl-peony-900));


    --hsl-primary-900: 214 96% 21%;
    --hsl-primary-400: 211 96% 37%;
    --hsl-primary-200: 207 96% 44%;
    --hsl-primary-100: 207 96% 97%;
    --hsl-secondary-400: 34 100% 51%;

    --col-primary-900: hsl(var(--hsl-primary-900));
    --col-primary-400: hsl(var(--hsl-primary-400));
    --col-primary-200: hsl(var(--hsl-primary-200));
    --col-primary-100: hsl(var(--hsl-primary-100));
    --col-secondary-400: hsl(var(--hsl-secondary-400));

    --col-light: #f4f4f4;

    --col-grey-900: #2A2A2A;
    --col-grey-700: #747474;
    --col-grey-500: #ADADAD;
    
    --h-top: 122px;

    --fw-400: 300;
    --fw-500: 500;
    --fw-700: 700;

    /*
    --fs-200: clamp(0.69rem, calc(0.66rem + 0.15vw), 0.78rem);
    --fs-300: clamp(0.83rem, calc(0.80rem + 0.18vw), 0.94rem);
    --fs-400: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    --fs-500: clamp(1.20rem, calc(1.15rem + 0.26vw), 1.35rem);
    --fs-600: clamp(1.44rem, calc(1.38rem + 0.31vw), 1.62rem);
    --fs-700: clamp(1.73rem, calc(1.65rem + 0.38vw), 1.94rem);
    --fs-800: clamp(2.07rem, calc(1.98rem + 0.45vw), 2.33rem);
    --fs-900: clamp(2.49rem, calc(2.38rem + 0.54vw), 2.80rem);
    */

    --fs-200: 0.778rem; // 14px;
    --fs-300: 0.889rem; // 16px;
    --fs-400: 1rem; // 18px;
    --fs-450: 1.167rem; // 21px;
    --fs-500: 1.333rem; // 24px;
    --fs-600: 1.667rem; // 30px;
    --fs-700: 2rem; // 36px;
    --fs-800: clamp(1.8rem, 0.7163rem + 3.468vw, 2.667rem); // 2.667rem; // 48px;
    --fs-900: clamp(3rem, 1.75rem + 4vw, 4rem); // 4rem; // 60px;

    --transition: 0.2s ease-out;

    --border-lg: 1rem;
    --border-sm: 0.5rem;

    --ff-headings: zahrah, Georgia, 'Times New Roman', Times, serif;
    --ff-body: brandon-grotesque, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}